/* Make sure that legends show up correctly */
fieldset legend.control-label
{
   font-size: 100%;
   font-weight: bold;
   border-bottom: 0;
}

/* Add styles for 'moreLabel' ''*/
label.control-label span.moreLabel,
fieldset legend.control-label span.moreLabel
{
   display:block;
   font-style:italic;
   font-size:75%;
   font-weight: normal;
   color: #999;
   line-height:110%;
}

/* Add styles for 'topLabel' ''*/
fieldset div.topLabel
{
   display:block;
   font-style:italic;
   font-size:75%;
   font-weight: normal;
   color: #999;
   line-height:110%;
}

/* Add styles for color selector */
div.radio label span.radioColorChoice
{
   display:block;
   line-height: 1.5em;
   width: 100%;
   padding: 0 .5em;
   min-width: 200px;
   border-radius:4px;
   border: 1px solid #ddd;
}

form div.row div.multiboxFieldCol
{
   padding:.25em;
}

form div.row div.multiboxFieldCol:first-child
{
   padding-left:15px;
}

form div.row div.multiboxFieldCol:last-child
{
   padding-right:15px;
}

form input[type=file].form-control
{
   border: 0;
   box-shadow: none;
}

label.required:before,
legend.required:before
{
   content: '* ';
   color: #a00;
}  

.fauxLabel
{
   font-weight: bold;
   text-align: right;
}

.fauxInput
{
   font-style: italic;
}

.fauxInput.alert.alert-info
{
   margin-bottom: 0;
}

/* Add a colon after each label... */
.form-group label span.labelText::after,
fieldset legend span.labelText::after,
.fauxLabel::after
{
   content: ":";
}

/* ... unless we're told not to '*/
.form-group label span.labelText.noColon::after,
fieldset legend span.labelText.noColon::after,
.fauxLabel.noColon::after
{
   content: "";
}

fieldset.mainWrapper+fieldset.mainWrapper
{
   border-top:1px dotted #999;
   margin-top:1.5em;
   padding-top:1.5em;
}

form.striped-form fieldset.mainWrapper div.form-group,
.formRow
{
   padding-top: .25em;
   padding-bottom: .25em;
}

form.striped-form fieldset.mainWrapper div.form-group:nth-child(even),
.formRow:nth-child(even)
{
   background-color: #f0f0f0;
}

.input-group[class*=col-]
{
   float: left;
   padding-right: 15px;
   padding-left: 15px;
}


/*

 For highlighting the reCAPTCHA field 
.pageBody form.defaultForm div.invalidField #recaptcha_widget_div
{
   border: 1px solid red;
}

.pageBody form.defaultForm div.invalidField:target>div
{
    -webkit-animation: target-fade 3s 1;
    -moz-animation: target-fade 3s 1;
}*/

/*
@-webkit-keyframes target-fade {
    0% { background-color: rgba(255,255,170,1); }
    100% { background-color: rgba(0,0,0,0); }
}
@-moz-keyframes target-fade {
    0% { background-color: rgba(255,255,170,1); }
    100% { background-color: rgba(0,0,0,0); }
}

@media (max-width: 600px)
{
   .pageBody form.defaultForm > fieldset > div
   {
      margin: 0 0 15px 0;
   }

   .pageBody form.defaultForm > fieldset > div > label,
   .pageBody legend
   {
      width: 98%;
      float: none;
      margin: 0 0 5px 0;
   }
   
   .pageBody form.defaultForm > fieldset > div > div,
   .pageBody form.defaultForm > fieldset > div > fieldset > div
   {
      width: 98%;
      float: none;
   }

   .pageBody form.defaultForm input[type=color],
   .pageBody form.defaultForm input[type=date],
   .pageBody form.defaultForm input[type=datetime],
   .pageBody form.defaultForm input[type=datetime-local],
   .pageBody form.defaultForm input[type=email],
   .pageBody form.defaultForm input[type=file],
   .pageBody form.defaultForm input[type=month],
   .pageBody form.defaultForm input[type=number],
   .pageBody form.defaultForm input[type=password],
   .pageBody form.defaultForm input[type=range],
   .pageBody form.defaultForm input[type=search],
   .pageBody form.defaultForm input[type=tel],
   .pageBody form.defaultForm input[type=text],
   .pageBody form.defaultForm input[type=time],
   .pageBody form.defaultForm input[type=url],
   .pageBody form.defaultForm input[type=week],
   .pageBody form.defaultForm textarea,
   .pageBody form.defaultForm select
   {
      width: 98%;
      max-width: 100%;
   }
}


@media (max-width: 1199px)
{
   .pageBody form.defaultForm > fieldset > div > label.required:before,
   .pageBody legend.required:before
   {
      display:none;
   }   
}

@media (min-width: 1200px)
{
   .pageBody form.defaultForm > fieldset > div
   {
      border-bottom:0;
   }

   .pageBody form.defaultForm > fieldset > div > label,
   .pageBody legend
   {
      text-align: right;
   }
   
   .pageBody form.defaultForm > fieldset > div > label,
   .pageBody legend
   {
      text-align: right;
   }
   
   .pageBody form.defaultForm > fieldset > div > label.required:before,
   .pageBody legend.required:before
   {
      display:inline;
   }
   
   .pageBody form.defaultForm > fieldset > div > label.required:after,
   .pageBody legend.required:after
   {
      display:none;
   }
   
   .pageBody form.defaultForm .courseEquivRow input
   {
      float:left;
      width: 16%;
      margin-right:1%;
   }
   
   .pageBody form.defaultForm .courseEquivRow input[type=url]
   {
      margin-bottom:0;
   }
}*/

/* End form styles */
