/*table
{
   border: 1px solid #666;
   border-collapse: collapse;
   margin:0 auto;
   font-size:85%;
   width: 100%;
}
*/
table.table-bordered th,
table.table-bordered td
{
   border: 1px solid #aaa !important;
}

table th, th.sorting,
table td.fauxHeader
{
   background-color: #f8f8f8;
   color: #333;
   padding:0 .5em;
   vertical-align: bottom;
}

/*table th,
table td
{
   text-align: center;
   padding: .25em 1em;
}*/

table.table-hover tr:hover td,
table.table-hover td:hover 
{
   background-color: #fffc9b;
}

th.currency,
td.currency,
.currency
{
   text-align:right;
   padding-left: 1em;
   min-width: 9em;
}

th.currency:before,
td.currency:before,
.currency:before
{
   content: "$";
   display:block;
   float:left;
}

table.sortableTable thead th:after
{
   font-size: 120%;
   /*font-family: 'Glyphicons Halflings';*/
   /*content: " \E150";*/
   color: #999;
   float:right;
}

table.sortableTable thead th.sorting_asc,
table.sortableTable thead th.sorting_desc
{
   background-color:#aaa;
   
}

table.sortableTable thead th.sorting_asc:after,
table.sortableTable thead th.sorting_desc:after
{
   color: #000;
   font-weight: normal;
}

.dataTables_filter
{
	text-align:right;
   margin-bottom: 1em;
   margin-left:5em;
}

div.toggleTableFields
{
   margin-bottom: 1em;
}

.table-striped tr:nth-of-type(odd) td
{
   background-color: #E5ECF4;
}

.bg-danger-table-row td,
.table-striped .bg-danger-table-row td,
.table-striped tr.bg-danger-table-row:nth-of-type(odd) td
{
   background-color: #F2DEDE;
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

   /* Force table to not be like tables anymore */
   table.responsiveTable,
   table.responsiveTable thead,
   table.responsiveTable tbody,
   table.responsiveTable tfoot,
   table.responsiveTable th,
   table.responsiveTable td,
   table.responsiveTable tr
   { 
      display: block; 
   }
   
   table.responsiveTable
   {
      font-size: 100%;
   }
   
   table.responsiveTable tr:nth-of-type(odd)
   {
      background-color: #eee;
   }

   /* Hide table headers (but not display: none;, for accessibility) */
   table.responsiveTable thead tr, 
   table.responsiveTable tfoot tr { 
      position: absolute;
      top: -9999px;
      left: -9999px;
   }

   table.responsiveTable tr { border: 1px solid #ccc; }

   table.responsiveTable tr td { 
      /* Behave  like a "row" */
      border: none !important;
      border-bottom: 1px solid #eee; 
      position: relative;
      padding: .1em 0 !important;
      padding-left: 30% !important;
      text-align:left !important;

   }

    table.responsiveTable td:empty { 
      display:none;
   }
   
   table.responsiveTable td:before { 
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 0;
      left: 6px;
      width: 21%;
      padding-right: 10px; 
      white-space: nowrap;
      text-align:right;
      font-weight:bold;
   }

   /*
   Label the data
   */
   table.responsiveTable td:before
   {
      content: attr(data-label) ":";
      text-align: right;
   }
}

@media print
{
   /* Don't print some elements */
   .dataTables_filter,
   table.sortableTable th.sorting:after
   {
      display:none;
   }
}