
         <footer class="clearfix">
            
            <span class='bull'>&copy; Copyright <!-- _MB_: currentYear --> <!-- _MB_: organizationName --></span>
            <span>All rights reserved</span>
         </footer>
      </div> <!-- end container -->
   </div>
   
   <!-- _MB_: appendBody -->

</body>
</html>
