
<section class="pageBody front <!-- _MB_: pageClass -->">

    <div class='row'>
        <section id='mainColumn' class='col-md-12'>
            <div class='row'>
                <section id='headlines'>
                   <!-- _MB_: frontHeadlines -->
                </section>
            </div> 
            <div class='row'>    

            </div>
        </section>
   </div>

</section>
 