

#mainBanner a#pageLogo
{   
   background: url(../img/logo-white-on-transparent-bg.png) no-repeat 0px 0px;
   display:block;
   text-indent: -9999px;
   
    transform-origin: top left;
    -webkit-transform: translate(0px, 0);
    -webkit-transition: -webkit-transform 0.6s ease;
    -moz-transform: translate(0px, 0);
    -moz-transition: -webkit-transform 0.6s ease;
    transform: translate(0px, 0);
    transition: -webkit-transform 0.6s ease;
    
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}



#primaryMenu
{
   position: relative; 
   float: right;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#primaryMenu ul li a {

}

/*#mainSearch {
    width: 100px;
    float: right;
}*/

/*** Start "logged in" menu ***/
#loggedIn
{
   z-index: 999;
   background-color: transparent;
   color: white;
}

#loggedIn ul
{
   display: inline-block;
   margin-left: 1em;
}

#loggedIn ul li
{
   margin:0;
}

#loggedIn ul li a
{
   pointer-events: auto;
   margin:0;
   padding-left: 1em;
   padding-right: 1em;
   border-left: 1px solid #fff;
   color: white;
}


.row {
    margin: 0 0 0 0;
}


header {
    width: 100%;
    overflow: hidden;
    background-color: rgb(52, 152, 219);
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
}
header h1#pageLogo {
    float: left;
    font-family: "Oswald", sans-serif;
    color: white;
    font-weight: 400;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}



/*header nav {
    display: inline-block;
}

header nav a {
    line-height: 100px;
    * margin-left: 20px; *
    color: #9fdbfc;
    font-weight: 700;
    font-size: 18px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
header nav a:hover {
    color: white;
}*/

