

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width:767px) {
        
        header {
            position: relative;
            top: 0;
            left: 0;
            height: 110px;
        }
        
        header.frontpage {
            height: auto;
        }
        
        header h1#pageLogo {
            display: inline-block;
            height: 150px;
            line-height: 150px;
            font-size: 60px;
        }
  
        #page-wrapper {
            margin: 250px 0 0 0!important;
 
        }
        
        .adminView
        {
            margin-top: 600px;
            margin-left: 0;
        }
        
        div#wrapper {
           padding-top: 0px;
        }
        
        #mainBanner
        {
           padding-top: 25px;
        }

        #mainBanner h1
        {
           margin-top: 0;
        }
        
        #mainBanner a#pageLogo
        {
            height: 50px;
            width: 100%;
            max-height:100%;
            margin: 30px 0 10px 0;
            position:relative;
            padding-left:100px;
            padding-bottom: 25px;
            background-size: 250px!important;
        }
        
        #mainBanner a#pageLogo:before
        {
            content: '';
            display:block;
            width:63px;
            height:63px;
            /* background: url(../img/IsleLogo62px.png) no-repeat 0px 0px; */
            position:absolute;
            left:-63px;
            top:10px;
        }
        
        /*** Start Mobile Navigation ***/
        .lead {
            font-size: 150%;
        }

        #mainNav
        {
           position: fixed;
           left: -1px;
           top: -1px;
           z-index: 99;
           width: 101%;
        }
        
        
        
        #mainNav div {
            z-index: 100;
        }

        #mainNav .navbar-header
        {
           background-color: #036;
        }

        #mainNav .navbar-brand
        {
           color: #fff;
        }
        
        div.sidebar {
            margin-top: -250px!important;
            margin-bottom: 40px!important;
            z-index: 100;
            height: auto;
            width: 100%;
            left: 0px;
            float: left!important;
            
        }
        
        div.sidebar-nav.collapse {
            display: block!important;
        }

        #mainNav .icon-bar
        {
           background-color: #fff;
        }

/*        #mainNav .navbar-toggle:hover .icon-bar,
        #mainNav .navbar-toggle:focus .icon-bar
        {
           background-color: #fff;
        }*/

        #primaryMenu
        {
           font-family: 'Trebuchet MS', 'Helvetica', 'Ubuntu Beta', UbuntuBeta, Ubuntu, 'Bitstream Vera Sans', 'DejaVu Sans', 'Arial', sans-serif;
           background-color:#036 !important;
        }

        #primaryMenu a
        {
           color:#fff !important;
           background-image: none !important;
           background-color:#036 !important;
        }
        
        #primaryMenu ul li a {
            height: 35px;
            width: 110px!important;
            padding: 5px 5px 5px 10px;
            z-index: 1000;
        }

        /*** End Mobile Navigation ***/
    
        nav#loggedInNav
        {
            left: 75px;
            padding-right: 20px;
            width: 60%;
            padding-top:10px;
            top:1px;
            font-size:60%;
            line-height: 80%;
        }
        
        nav#loggedInNav #loggedInAs
        {
            display: inline!important;
            position:absolute;
            top:0px;
            left:35%;
            right:0;
            float: left;
        }
        
        #adminBanner
        {
            height:8px;
        }
        
        #adminBanner a#signIn, a#signOut
        {   
            float: right;
            font-size: 8px;
            margin-top: 5px;
            margin-left: 5px;
        }
        
        /* Fix search form to the bottom of the screen on smaller devices */
        body
        {
           padding-bottom: 40px;
        }

        #mainSearch
        {
           position: fixed;
           background-color: #999;
           padding: 5px;
           bottom: 0;
           left: 0;
           right: 0;
           padding-left: 20%;
           padding-right: 20%;
           z-index: 100;
        }

        .peopleProfile .text-right
        {
           text-align: left;
        }
        
        .panel-heading
        {
            height: 50px;
        }
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

        div#adminBanner
        {
            top: 0px;
        }
        
        div#adminBanner div.container
        {
            float: right;
            margin-right: 20px;
        }
        
        nav#loggedIn
        {
            
        }
        
        nav#loggedInNav
        {   
            float: right!important;
        }
        
        #adminBanner a#signIn, a#signOut
        {   
            margin-left: 10px;
        }
        
        span#loggedInAs, #adminDashHome
        {
            
        }
        
        #mainNav
        {
           position: fixed;
           float: right;
           top:0;
        }

        .navbar-toggle {
            z-index: 100;
        }
        
        div.navbar-header {
            display: none;
        }


        #primaryMenu>.navbar-nav>li>a
        {
           color: #036;
           text-transform:uppercase;
           font-size: smaller;
           transition: font-size 0.3s ease;
        }

        #primaryMenu>.navbar-nav>li>a:hover, #primaryMenu>.navbar-nav>li>a.active
        {
            background-color: #0683c9;
            color: white;

        }  

        footer
        {
           clear:both;
           max-width:98%;
        }

        footer span
        {
           display: inline;
        }

        footer span.bull:not(:empty):after
        {
           content: ' \2022';
        }

        footer span.breaker:after
        {
           content: '';
           display:block;
        }

        
        .lead {
            font-size: 125%;
        } 

       #mainBanner a#pageLogo
       {
          width: auto;
          height: 50px;
       }

       #primaryMenu
       {
          position: relative; 
          float: right;
       }

       .peopleProfile
       {
          border-bottom: 0;
       }

       .peopleList>div.row
       {
          border-bottom: 1px dotted #ccc;
       }

       .peopleProfile .media-heading
       {
          margin-bottom: 0;
       }
        
        header {
            width: 100%;
            height: 100px;
            overflow: hidden;
            position: relative;
            top: 0;
            left: 0;
            z-index: 99;

        }
       
        
        header h1#pageLogo {
            display: inline-block;
            height: 130px;
            line-height: 130px;
            font-size: 60px;
        }
        
        #mainBanner
        {
           margin-top: 2px;
        }

        #mainBanner h1
        {
           margin-top: 0;
           margin-bottom: 0;
        }

        #mainBanner a#pageLogo
        {
           height: 90px;
           width: 100%;
           max-height:100%;
           margin: 0px 20px 0 60px;
           position:relative;
           padding-left:100px;
           background-size: 500px!important;

        }
        
        #primaryMenu
        {
           font-size: 100%;
        }
        
        header.smaller {
            height: 80px!important;
        }
        header.smaller h1#pageLogo {
            width: 150px;
            height: 80px;
            line-height: 75px;
            font-size: 30px;
        }

        header.smaller #mainBanner a#pageLogo {
          height: 240px;
          -webkit-transform: scale(0.6);
          -moz-transform: scale(0.6);
          transform: scale(0.6);
           margin:-15px 10px 0 0px;

        }

        header.smaller nav a {

        }
        
                /** Start desktop event styles ***/
        article.eventsList article.eventInfo
        {
           position:relative;
        }

        article.eventsList article .eventDesc
        {
           margin-left:24%;
        }

        article.eventsList article .eventDetails
        {
           position:absolute;
           top:0;
           left:0;
           width:20%;
           margin-left:0;
        }

        article.eventsList article div.eventTime
        {
           font-size: 125%;
           text-align:right;
        }

        article.eventsList article div.location
        {
           text-align:right;
        }

        article.eventsList article div.location strong,
        article.eventsList article time strong,
        article.eventsList article time span,
        article.eventsList article div.eventType strong
        {
           display: none;
        }
        
        .panel-heading
        {
            height: 50px;
        }

        .col-md-3 > img {
            float: right;
            padding-left: 10px;
        }
        
    }
    
        /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
        #primaryMenu>.navbar-nav>li>a
        {
            font-size:medium;
        }
        
        .col-md-3 > img {
            width: 95%;
        }
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
        .lead {
            font-size: 115%;
        } 

       #primaryMenu>.navbar-nav>li>a
       {
          color: #036;
          text-transform:uppercase;
       }

       #primaryMenu>.navbar-nav>li>a:hover, #primaryMenu>.navbar-nav>li>a.active
       {
           background-color: #0683c9;
           color: white;
       }
       
        .panel-heading
        {
            height: 50px;
        }
    }


@media print {

.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
  float: left;
}
.col-sm-12 {
  width: 100%;
}
.col-sm-11 {
  width: 91.66666666666666%;
}
.col-sm-10 {
  width: 83.33333333333334%;
}
.col-sm-9 {
  width: 75%;
}
.col-sm-8 {
  width: 66.66666666666666%;
}
.col-sm-7 {
  width: 58.333333333333336%;
}
.col-sm-6 {
  width: 50%;
}
.col-sm-5 {
  width: 41.66666666666667%;
}
.col-sm-4 {
  width: 33.33333333333333%;
 }
 .col-sm-3 {
   width: 25%;
 }
 .col-sm-2 {
   width: 16.666666666666664%;
 }
 .col-sm-1 {
  width: 8.333333333333332%;
 }

  }
