/* Hide things we don't want to print. */
nav,
#mainSearch,
form.insetSearch,
#adminBanner,
#globalGiveLink
{
   display:none;
}

body
{
   font-size:50%;
}

a[href]:after
{
  content: "";
}

/* Set up the page header */
#mainBanner
{
   border-bottom: 1px dotted #999;
}
#mainBanner h1
{
   font-size: 400%;
   color: #036;
   /*margin:0;*/
}

#mainBanner h1 a
{
   display:none !important;
}

#mainBanner h1:before
{
   content: "Department of ";
   display:block;
   font-size:40%;
   font-weight:normal;
   font-style:italic;
   line-height:100%;
}

#mainBanner h1:after
{
   content: "Mathematics";
   display:block;
   line-height:100%;
   text-transform:uppercase;
}

/* FAQs */
ul.faqQuestions,
a.faqToTopLink
{
   display:none;
}


/* Giving Pages */
.pageBody ul.awardList>li
{
   position: relative;
   padding-top:1.2em;
}


.pageBody ul.awardList>li a.awardTitle
{
   position: absolute;
   top:0;
}

.pageBody ul.awardList>li div.awardTeaser
{
   margin-top: 1em;
}

/* People pages */

div.inlinePerson
{
   margin: 1em 0;
}

div.inlinePerson img
{
   display:none;
}

div.inlinePerson .media-heading
{
   font-size: 100%;
}

div.inlinePerson .media-body div
{
   margin:0;
}

.peopleList
{
   font-size: 90%;
}

.peopleList li
{
   padding:0;
   margin:0 !important;
   line-height: 100%;
   position: relative;
   height:1em;
}

div.insetPerson h2,
div.insetPerson span
{
   padding:0;
   margin:0 !important;
}

.pageBody ul.peopleList li h2,
.pageBody ul.peopleList li span
{
   position: absolute;
   margin: 0 !important;
   padding:0;
   top: 5pt;
}

.pageBody ul.peopleList li span.homepage,
.pageBody div.insetPerson span.homepage
{
   display:none;
}

.pageBody ul.peopleList li h2
{
   left: 0;
}

.pageBody ul.peopleList li span.title
{
   left: 25%;
   height: 1em;
   width: 25%;
   overflow:hidden;
}

.pageBody ul.peopleList li span.mail
{
   left: 50%;
}

.pageBody ul.peopleList li span.office
{
   left: 85%;
}

.pageBody ul.peopleList li span.phone
{
   left: 75%;
}

/* Make the footer display like the desktop version on print. */
footer
{
   clear:both;
   font-size:85%;
   max-width:98%;
}

footer span
{
   display: inline;
}

footer span.bull:not(:empty):after
{
   content: ' \2022';
}

footer span.breaker:after
{
   content: '';
   display:block;
}