  @page {                
    size: letter;
    margin: 0mm;
  }

  html, body {
    width: 1024px;
  }

  body {
    margin: 0 auto;
    background:white;
    color:black;
    width: 100%;
    float: none;
  }

  /* avoid page-breaks inside a listingContainer*/
  .listingContainer{
    page-break-inside: avoid;
  }

  /* Improve colour contrast of links */
  a:link, a:visited {
    color: #781351
  }

  /* URL */
  a:link, a:visited {
    background: transparent;
    color:#333;
    text-decoration:none;
  }

  a[href]:after {
    content: "" !important;
  }

  a[href^="http://"] {
    color:#000;
  }

  #header {
    height:75px;
    font-size: 24pt;
    color:black
  }

/*** Start Page Body Styles ***/

h1
{
   line-height: 120%;
   color: #036;
   font-weight: bold;
}

h2
{
   color: #036;
   font-weight: bold;
   margin-top:2em;
}

h3
{
   color: #036;
   margin-top:1.5em;
   margin-bottom:.25em;
   margin-top:0;
}

h4
{
   color: #036;
   margin-top:1.2em;
   margin-bottom:.25em;
   margin-top:0;
}

h5
{
   color: #036;
   margin-top:1em;
   margin-bottom:.2em;
   margin-top:0;
}

p
{
   margin-top:0;
}

