@import url('/common/css/wysiwyg.css');
@import url('custom.css');
@import url('mediaQueries.css');

body
{
   font-family: 'Trebuchet MS', 'Helvetica', 'Ubuntu Beta', UbuntuBeta, Ubuntu, 'Bitstream Vera Sans', 'DejaVu Sans', 'Arial', sans-serif;
   font-size: 100%;
}

h1
{
   color: blue;
}

#mainBanner a#pageLogo
{
   display:block;
   text-indent: -9999px;
   background: url(../img/logo.svg) no-repeat 0px 0px; /* TODO: IE 8? */
   height: 78px;
   width: 130px;
   max-height:100%;
   margin:0 10px 0 74px;
   position:relative;
   padding-left:100px;
}

#mainBanner a#pageLogo:before
{
   content: '';
   display:block;
   width:63px;
   height:63px;
   background: url(../img/uaBlock.png) no-repeat 0px 0px;
   position:absolute;
   left:-63px;
   top:10px;
}

.pageBody
{
   clear:both;
}

.pageBody img
{
   max-width: 90%;
   display:block;
   margin:.5em auto;
   float: none;
}


.pageBody img.leftImg
{
   max-height:  150px;
   display:block;
   float: left;
   margin-right: 1em;
}

.pageBody img.rightImg
{
   max-height:  150px;
   display:block;
   float: right;
   margin-left: 1em;
}

.pageBody h1
{
   font-size: 160%;
   line-height: 120%;
   color: #a00;
   font-weight: normal;
}

.pageBody h2
{
   font-size: 130%;
   color: #a00;
   font-weight: normal;
   margin-top:2em;
}


.pageBody h3
{
   font-size: 115%;
   color: #036;
   font-weight: normal;
   margin-top:1.5em;
   margin-bottom:.25em;
}

.pageBody h3+p
{
   margin-top:0;
}

.pageBody a
{
   color: #036;
}

.pageBody article
{
   width: 96%;
   margin:1em auto;
   font-size: 150%;
   line-height: 142%;
}

.pageBody article li
{
   margin-bottom: 1em;
}

/* Start table styles */
.pageBody article table
{
   border: 1px solid #666;
   border-collapse: collapse;
   margin:0 auto;
   font-size:85%;
}

.pageBody article table th,
.pageBody article table td
{
   border: 1px solid #aaa;
}

.pageBody article table th,
.pageBody article table td.fauxHeader
{
   background-color: #ddd;
   color: #333;
   padding:0 .5em;
   vertical-align: bottom;
}

.pageBody article table td
{
   text-align: center;
   padding: .25em 1em;
}

.pageBody article table.tutoring td.open
{
   background-color: #d1fcd1;
}

.pageBody article table tr.tableHighlight td,
.pageBody article table td.tableHighlight
{
   background-color: #fffc9b;
   font-weight: bold;
}

/* End table styles */

.pageBody.inner
{
   max-width: 86%;
   margin:1em auto 0 auto;
}

.pageBody article ul,
.pageBody article ol
{
   margin:0 0 1em 0;
   padding:0;
}

.pageBody article ul li,
.pageBody article ol li
{
   margin:.4em;
   margin-left: 3em;
   margin-bottom: .5em;
   line-height: 130%;
}


article.eventsList article.eventInfo
{
   margin: 1.5em 0;
}

article.joke
{
   width: 50%;
   font-size: 90%;
   font-style: italic;
}

dl dt
{
   font-weight: bold;
   margin-top:1em;
}

.smaller
{
   font-size:85%;
   font-style:italic;
}

hr
{
   border:0;
   border-bottom: 1px solid #ccc;
}

.pageBody a[href$=".pdf"]:after{content:" [PDF]";color:black;white-space:nowrap;font-size:80%;text-decoration:none;}
.pageBody a[href$=".ps"]:after{content:" [PS]";color:black;white-space:nowrap;font-size:80%;text-decoration:none;}
.pageBody a[href$=".doc"]:after{content:" [DOC]";color:black;white-space:nowrap;font-size:80%;text-decoration:none;}
.pageBody a[href$=".ppt"]:after{content:" [PPT]";color:black;white-space:nowrap;font-size:80%;text-decoration:none;}
.pageBody a[href$=".xls"]:after{content:" [XLS]";color:black;white-space:nowrap;font-size:80%;text-decoration:none;}

.pageBody a.noExtension:after{ content: ""; display:none; }

.errorMessage,
.warningMessage,
.successMessage,
.infoMessage
{
   padding: 1em;
   border: 2px solid #333;
   border-radius: 4px;
   max-width:85%;
   margin: 1em auto;
   font-size: 150%;
   font-weight: bold;
   box-shadow: 10px 10px 10px rgba(60, 60, 60, 0.4);
}

.errorMessage h2,
.warningMessage h2,
.successMessage h2,
.infoMessage h2,
.errorMessage h3,
.warningMessage h3,
.successMessage h3,
.infoMessage h3,
.errorMessage h4,
.warningMessage h4,
.successMessage h4,
.infoMessage h4
{
   margin:0;
}

.pageBody article .errorMessage,
.pageBody article .warningMessage,
.pageBody article .successMessage,
.pageBody article .infoMessage
{
   font-size: 100%;
}

.errorMessage
{
   color: #a94442;
   background-color: #f2dede;
   border-color: #f0677d;
   box-shadow: 10px 10px 10px rgba(60, 0, 0, 0.4);
}

.warningMessage
{
   color: #8a6d3b;
   background-color: #fffc9b;
   border-color: #f5c35b;
}

.successMessage
{
   color: #3c763d;
   background-color: #dff0d8;
   border-color: #0E9B1F;
}

.infoMessage
{
   color: #31708f;
   background-color: #e0faff;
   border-color: #bce8f1;
}


/* Start Google Maps */
.embededMap
{
   text-align:center;
}

iframe
{
   max-width:100%;
}

/* End Google Maps */

footer
{
   text-align: center;
   color: #666;
   border-top: 1px solid #036;
   font-size:130%;
   line-height: 160%;
   max-width:86%;
   margin: 0 auto;
   padding: 1em 0;
   clear:both;
}

footer span
{
   display:block;
}
