.ready div {
    background-color: darkseagreen!important;
}

.placeholder {
	background-color: #cfcfcf;
}

table#componentWires {
	margin: 0;
	padding: 0;
	padding-left: 30px;
   clear:right;
}

table#componentWires, table#componentWires ol {
	margin: 0 0 0 25px;
	padding: 0;
	list-style-type: none;
}

table#componentWires {
	margin: 0;
}

table#componentWires li {
	margin: 7px 0 0 0;
	padding: 0;
	padding-left:20px;
}

table#componentWires li div  {
	border: 1px solid #e6e6e6;
	padding: 3px;
	margin: 0;
        background-color: #cfcfcf;
}

table#componentWires li div i.fa-sort-amount-asc
{
   color:#036;
   padding-right: 1em;
	cursor: move;
}

table#componentWires li div i.fa-crosshairs
{
   color:#666;
   padding-right: 1em;
}

table#componentWires li input
{
	width:40%;
   margin-top:6px;
   margin-right:5px;
   padding: 3px;
}

table#componentWires li li div { background-color:#eee; }
table#componentWires li li li div { background-color:#ddd; }
table#componentWires li li li li div { background-color:#ccc; }
table#componentWires li li li li li div { background-color:#bbb; }
table#componentWires li li li li li li div { background-color:#aaa; }
table#componentWires li li li li li li li div { background-color:#999; }
table#componentWires li li li li li li li li div { background-color:#888; }
table#componentWires li li li li li li li li li div { background-color:#777; }
table#componentWires li li li li li li li li li li div { background-color:#666; }

table#componentWires li li div input
{
	border:1px solid #333;
	padding:2px;
}

table#componentWires span.deleteMe
{
	display:block;
	float:right;
	cursor:pointer !important;
   line-height: 150%;
   color: #a00;
}

input.wirePolarity
{
    width: 100px;
}

input.wireLocation
{
    width: 300px;
}

.submitDiv
{
   text-align:center;
   padding:1em;
}

.addNewWire
{
   float:right;
   padding:1em 0;
   cursor: pointer;
}

.addNewWire:before
{
   padding-right: .5em;
   color: #32AC27;
}