/*** Bootstrap XS Only ***/
@media screen and (max-width:767px)
{
   /*** Start Mobile Navigation ***/
   .lead {
       font-size: 150%;
   }
   
   #mainNav
   {
      position: fixed;
      left:0;
      right:0;
   }

   #mainNav .navbar-header
   {
      background-color: #036;
   }

   #mainNav .navbar-brand
   {
      color: #fff;
   }

   #mainNav .icon-bar
   {
      background-color: #fff;
   }

   #mainNav .navbar-toggle:hover .icon-bar,
   #mainNav .navbar-toggle:focus .icon-bar
   {
      background-color: #036;
   }

   #primaryMenu
   {
      font-family: 'Trebuchet MS', 'Helvetica', 'Ubuntu Beta', UbuntuBeta, Ubuntu, 'Bitstream Vera Sans', 'DejaVu Sans', 'Arial', sans-serif;
      background-color:#036 !important;
   }

   #primaryMenu a
   {
      color:#fff !important;
      background-image: none !important;
      background-color:#036 !important;
   }
   /*** End Mobile Navigation ***/
   
   
   /* Fix search form to the bottom of the screen on smaller devices */
   body
   {
      padding-bottom: 40px;
   }
   
   #mainSearch
   {
      position: fixed;
      background-color: #999;
      padding: 5px;
      bottom: 0;
      left: 0;
      right: 0;
      padding-left: 20%;
      padding-right: 20%;
      z-index: 1000;
   }
   
   .peopleProfile .text-right
   {
      text-align: left;
   }
}

/*** Bootstrap SM and MD ***/
@media screen and (min-width:768px)
{
   #mainBanner
   {
      margin-top: 0;
      padding-bottom: 1em;
      border-bottom: 1px solid #036;
   }
   
   #mainNav
   {
      position: relative;
      float: right;
   }
   
   #mainNav .navbar-brand
   {
      display:none;
   }
   
   #mainBanner .row
   {
      padding-top:.5em;
   }

   #primaryMenu>.navbar-nav>li>a
   {
      color: #036;
      text-transform:uppercase;
      font-size: 125%;
      transition: font-size 0.3s ease;
   }
   
   #primaryMenu>.navbar-nav>li>a:hover, #primaryMenu>.navbar-nav>li>a.active
   {
       background-color: #0683c9;
       color: white;
       font-size: 200%;
   }
   
   footer
   {
      clear:both;
      max-width:98%;
   }
   
   footer span
   {
      display: inline;
   }
   
   footer span.bull:not(:empty):after
   {
      content: ' \2022';
   }
  
   footer span.breaker:after
   {
      content: '';
      display:block;
   }
   
   /** Start desktop event styles ***/
   article.eventsList article.eventInfo
   {
      position:relative;
   }
   
   article.eventsList article .eventDesc
   {
      margin-left:24%;
   }
   
   article.eventsList article .eventDetails
   {
      position:absolute;
      top:0;
      left:0;
      width:20%;
      margin-left:0;
   }
   
   article.eventsList article div.eventTime
   {
      font-size: 125%;
      text-align:right;
   }
   
   article.eventsList article div.location
   {
      text-align:right;
   }
   
   article.eventsList article div.location strong,
   article.eventsList article time strong,
   article.eventsList article time span,
   article.eventsList article div.eventType strong
   {
      display: none;
   }

   /** End desktop event styles ***/
}

/*** Bootstrap MD Only ***/
@media screen and (min-width:993px)
{
    .lead {
        font-size: 125%;
    } 
    
   #mainBanner a#pageLogo
   {
      width: auto;
   }
   
   #primaryMenu
   {
      position: relative; 
      float: right;
   }
   
   .peopleProfile
   {
      border-bottom: 0;
   }
   
   .peopleList>div.row
   {
      border-bottom: 1px dotted #ccc;
   }
   
   .peopleProfile .media-heading
   {
      margin-bottom: 0;
   }
}

/*** Bootstrap LG Only ***/
@media screen and (min-width:1200px)
{
    
    .lead {
        font-size: 115%;
    } 
    
}

@media print {

.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
  float: left;
}
.col-sm-12 {
  width: 100%;
}
.col-sm-11 {
  width: 91.66666666666666%;
}
.col-sm-10 {
  width: 83.33333333333334%;
}
.col-sm-9 {
  width: 75%;
}
.col-sm-8 {
  width: 66.66666666666666%;
}
.col-sm-7 {
  width: 58.333333333333336%;
}
.col-sm-6 {
  width: 50%;
}
.col-sm-5 {
  width: 41.66666666666667%;
}
.col-sm-4 {
  width: 33.33333333333333%;
 }
 .col-sm-3 {
   width: 25%;
 }
 .col-sm-2 {
   width: 16.666666666666664%;
 }
 .col-sm-1 {
  width: 8.333333333333332%;
 }

  }