/* Hide things we don't want to print. */
nav,
#mainSearch,
form.insetSearch,
#adminBanner
{
   display:none;
}

body
{
   font-size:50%;
}

a[href]:after
{
  content: "";
}

/* Set up the page header */
#mainBanner
{
   border-bottom: 1px dotted #999;
}
#mainBanner h1
{
   font-size: 400%;
   color: #036;
   /*margin:0;*/
}

#mainBanner h1 a
{
   display:none !important;
}

#mainBanner h1:before
{
   content: "Department of ";
   display:block;
   font-size:40%;
   font-weight:normal;
   font-style:italic;
   line-height:100%;
}

#mainBanner h1:after
{
   content: "Mathematics";
   display:block;
   line-height:100%;
   text-transform:uppercase;
}

/* FAQs */
ul.faqQuestions,
a.faqToTopLink
{
   display:none;
}


/* Make the footer display like the desktop version on print. */
footer
{
   clear:both;
   font-size:85%;
   max-width:98%;
}

footer span
{
   display: inline;
}

footer span.bull:not(:empty):after
{
   content: ' \2022';
}

footer span.breaker:after
{
   content: '';
   display:block;
}

@media print {

.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
  float: left;
}
.col-sm-12 {
  width: 100%;
}
.col-sm-11 {
  width: 91.66666666666666%;
}
.col-sm-10 {
  width: 83.33333333333334%;
}
.col-sm-9 {
  width: 75%;
}
.col-sm-8 {
  width: 66.66666666666666%;
}
.col-sm-7 {
  width: 58.333333333333336%;
}
.col-sm-6 {
  width: 50%;
}
.col-sm-5 {
  width: 41.66666666666667%;
}
.col-sm-4 {
  width: 33.33333333333333%;
 }
 .col-sm-3 {
   width: 25%;
 }
 .col-sm-2 {
   width: 16.666666666666664%;
 }
 .col-sm-1 {
  width: 8.333333333333332%;
 }

  }