.ready div {
    background-color: darkseagreen!important;
}

.placeholder {
	background-color: #cfcfcf;
}

.ui-nestedSortable-error {
	background:#fbe3e4;
	color:#8a1f11;
}

.mjs-nestedSortable-error
{
   background: #fbe3e4;
   border-color: transparent;
}

ol#editWires, ol#orderWires {
	margin: 0;
	padding: 0;
	padding-left: 30px;
   clear:right;
}

ol#editWires, ol#editWires ol, ol#orderWires, ol#orderWires ol {
	margin: 0 0 0 25px;
	padding: 0;
	list-style-type: none;
}

ol#editWires, ol#orderWires {
	margin: 0;
}

ol#editWires li, ol#orderWires li {
	margin: 7px 0 0 0;
	padding: 0;
	padding-left:20px;
}

ol#editWires li div, ol#orderWires li div  {
	border: 1px solid #e6e6e6;
	padding: 3px;
	margin: 0;
        background-color: #cfcfcf;
}

ol#editWires li div i.fa-sort-amount-asc, ol#orderWires li div i.fa-sort-amount-asc
{
   color:#036;
   padding-right: 1em;
	cursor: move;
}

ol#editWires li div i.fa-crosshairs, ol#orderWires li div i.fa-crosshairs
{
   color:#666;
   padding-right: 1em;
}

ol#editWires li input, ol#orderWires li input
{
	width:40%;
   margin-top:6px;
   margin-right:5px;
   padding: 3px;
}

ol#editWires li li div { background-color:#eee; }
ol#editWires li li li div { background-color:#ddd; }
ol#editWires li li li li div { background-color:#ccc; }
ol#editWires li li li li li div { background-color:#bbb; }
ol#editWires li li li li li li div { background-color:#aaa; }
ol#editWires li li li li li li li div { background-color:#999; }
ol#editWires li li li li li li li li div { background-color:#888; }
ol#editWires li li li li li li li li li div { background-color:#777; }
ol#editWires li li li li li li li li li li div { background-color:#666; }

ol#editWires li li div input, ol#orderWires li li div input
{
	border:1px solid #333;
	padding:2px;
}

ol#editWires span.deleteMe, ol#orderWires span.deleteMe
{
	display:block;
	float:right;
	cursor:pointer !important;
   line-height: 150%;
   color: #a00;
}

.submitDiv
{
   text-align:center;
   padding:1em;
}