div.modal, div.modal-dialog, div.modal-content   {
    width: 670px;
    margin: auto;
}
div.modal-body {
   height: 414px;
   max-height: 414px;
}

.wrap
{
    width: 640px;
    height: 384px;
    padding: 0;
    overflow: hidden;
}

.frame
{
    width: 1280px;
    height: 768px;
    border: 0;

    -ms-transform: scale(0.50);
    -moz-transform: scale(0.50);
    -o-transform: scale(0.50);
    -webkit-transform: scale(0.50);
    transform: scale(0.50);

    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.placeholder {
	background-color: #cfcfcf;
}

.ui-nestedSortable-error {
	background:#fbe3e4;
	color:#8a1f11;
}

.mjs-nestedSortable-error
{
   background: #fbe3e4;
   border-color: transparent;
}

ol#editGroup {
	margin: 0;
	padding: 0;
	padding-left: 30px;
   clear:right;
}

ol#editGroup, ol#editGroup ol {
	margin: 0 0 0 25px;
	padding: 0;
	list-style-type: none;
}

ol#editGroup {
	margin: 0;
}

ol#editGroup li {
	margin: 7px 0 0 0;
	padding: 0;
	padding-left:20px;
}

ol#editGroup li div  {
	border: 1px solid #e6e6e6;
	padding: 3px;
	margin: 0;
}

ol#editGroup li div i.fa-sort-amount-asc
{
   color:#036;
   padding-right: 1em;
	cursor: move;
}

ol#editGroup li div i.fa-crosshairs
{
   color:#666;
   padding-right: 1em;
}

ol#editGroup li input
{
	width:100%;
   margin-top:6px;
   margin-right:5px;
   padding: 3px;
}

ol#editGroup li li div { background-color:#eee; }
ol#editGroup li li li div { background-color:#ddd; }
ol#editGroup li li li li div { background-color:#ccc; }
ol#editGroup li li li li li div { background-color:#bbb; }
ol#editGroup li li li li li li div { background-color:#aaa; }
ol#editGroup li li li li li li li div { background-color:#999; }
ol#editGroup li li li li li li li li div { background-color:#888; }
ol#editGroup li li li li li li li li li div { background-color:#777; }
ol#editGroup li li li li li li li li li li div { background-color:#666; }

ol#editGroup li li div input
{
	border:1px solid #333;
	padding:2px;
}

ol#editGroup span.deleteMe
{
	display:block;
	float:right;
	cursor:pointer !important;
   line-height: 150%;
   color: #a00;
}

.submitDiv
{
   text-align:center;
   padding:1em;
}

.addNewNav
{
   float:right;
   padding:1em 0;
   cursor: pointer;
}

.addNewNav:before
{
   padding-right: .5em;
   color: #32AC27;
}

.placeholder {
	background-color: #cfcfcf;
}

.ui-nestedSortable-error {
	background:#fbe3e4;
	color:#8a1f11;
}

.mjs-nestedSortable-error
{
   background: #fbe3e4;
   border-color: transparent;
}

ol.editSection {
	margin: 0;
	padding: 0;
	padding-left: 30px;
   clear:right;
}

ol.editSection, ol.editSection ol {
	margin: 0 0 0 25px;
	padding: 0;
	list-style-type: none;
}

ol.editSection {
	margin: 0;
}

ol.editSection li {
	margin: 7px 0 0 0;
	padding: 0;
	padding-left:20px;
}

ol.editSection li div  {
	border: 1px solid #e6e6e6;
	padding: 3px;
	margin: 0;
}

ol.editSection li div i.fa-sort-amount-asc
{
   color:#036;
   padding-right: 1em;
	cursor: move;
}

ol.editSection li div i.fa-crosshairs
{
   color:#666;
   padding-right: 1em;
}

ol.editSection li input
{
	width:40%;
   margin-top:6px;
   margin-right:5px;
   padding: 3px;
}

ol.editSection li li div { background-color:#eee; }
ol.editSection li li li div { background-color:#ddd; }
ol.editSection li li li li div { background-color:#ccc; }
ol.editSection li li li li li div { background-color:#bbb; }
ol.editSection li li li li li li div { background-color:#aaa; }
ol.editSection li li li li li li li div { background-color:#999; }
ol.editSection li li li li li li li li div { background-color:#888; }
ol.editSection li li li li li li li li li div { background-color:#777; }
ol.editSection li li li li li li li li li li div { background-color:#666; }

ol.editSection li li div input
{
	border:1px solid #333;
	padding:2px;
}

ol.editSection span.deleteMe
{
	display:block;
	float:right;
	cursor:pointer !important;
   line-height: 150%;
   color: #a00;
}

.submitDiv
{
   text-align:center;
   padding:1em;
}

.addNewNav
{
   float:right;
   padding:1em 0;
   cursor: pointer;
}

.addNewNav:before
{
   padding-right: .5em;
   color: #32AC27;
}

div.row {
    border: 0!important;
}

div.row div {
    border: 0!important;
}
