.ready div {
    background-color: darkseagreen!important;
}

.placeholder {
	background-color: #cfcfcf;
}

.ui-nestedSortable-error {
	background:#fbe3e4;
	color:#8a1f11;
}

.mjs-nestedSortable-error
{
   background: #fbe3e4;
   border-color: transparent;
}

ol#editNav {
	margin: 0;
	padding: 0;
	padding-left: 30px;
   clear:right;
}

ol#editNav, ol#editNav ol {
	margin: 0 0 0 25px;
	padding: 0;
	list-style-type: none;
}

ol#editNav {
	margin: 0;
}

ol#editNav li {
	margin: 7px 0 0 0;
	padding: 0;
	padding-left:20px;
}

ol#editNav li div  {
	border: 1px solid #e6e6e6;
	padding: 3px;
	margin: 0;
        background-color: #cfcfcf;
}

ol#editNav li div i.fa-sort-amount-asc
{
   color:#036;
   padding-right: 1em;
	cursor: move;
}

ol#editNav li div i.fa-crosshairs
{
   color:#666;
   padding-right: 1em;
}

ol#editNav li input
{
	width:40%;
   margin-top:6px;
   margin-right:5px;
   padding: 3px;
}

ol#editNav li li div { background-color:#eee; }
ol#editNav li li li div { background-color:#ddd; }
ol#editNav li li li li div { background-color:#ccc; }
ol#editNav li li li li li div { background-color:#bbb; }
ol#editNav li li li li li li div { background-color:#aaa; }
ol#editNav li li li li li li li div { background-color:#999; }
ol#editNav li li li li li li li li div { background-color:#888; }
ol#editNav li li li li li li li li li div { background-color:#777; }
ol#editNav li li li li li li li li li li div { background-color:#666; }

ol#editNav li li div input
{
	border:1px solid #333;
	padding:2px;
}

ol#editNav span.deleteMe
{
	display:block;
	float:right;
	cursor:pointer !important;
   line-height: 150%;
   color: #a00;
}

.submitDiv
{
   text-align:center;
   padding:1em;
}

.addNewNav
{
   float:right;
   padding:1em 0;
   cursor: pointer;
}

.addNewNav:before
{
   padding-right: .5em;
   color: #32AC27;
}