.row
{
    margin-right: 0;
    margin-left: 0;
}

.wirechartTitle
{
    font-weight: bold;
    font-size: 160%;
    
}

.connectionName
{
    font-weight: bold;
    font-size: 135%;
}

.connectionArrow
{
    font-size: 300%;
    margin-top: 1em;
    margin-left: .5em;
    transform: translateX(-50%) translateY(-50%);
}

.connectionColor
{
    font-weight: bold;
    font-size: 125%;
}

button[type="submit"]
{
    
}

h1.page-break
{
    page-break-before: always;
}

ul.list-group{
    page-break-inside: avoid;
}

